<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">Information {{ consos.infogenerale.date  | date : 'EEEE d MMMM yyyy'}}
      &nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="#!/dayStat/{{consos.infogenerale.prevday}}" role="button"><< Jour précédent</a>
      &nbsp;&nbsp;&nbsp;<a ng-if="consos.infogenerale.today == false" class="btn btn-default" href="#!/dayStat/{{consos.infogenerale.nextday}}" role="button">Jour Suivant >></a>
      <br><br>
      Couleur du jour : <span class="label label-primary">{{ consos.infogenerale.couleurDuJour }}</span> - Couleur Demain : <span class="label label-primary">{{ consos.infogenerale.couleurDemain }}</span></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="conso in consos.infogenerale.index">
          <span class="Bidule">index {{conso.label}} : {{ conso.valeur/1000 | number :0}} KW.</span>
      </div>
    </div>
  </div>
</div>
<br>
<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">Consommation du jour</span></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-if="conso.cout > 0" class="col-md-2 col-sm-4 col-xs-6" ng-repeat="conso in consos.statDays[0].consos">
          <span class="Bidule">{{conso.label}} : {{ conso.conso /1000 | number :2}} kW.</span>
          <div><h4><span>{{ conso.cout/1000 | number : 2 }} €</span></h4></div>
      </div>
      <div class="col-md-2">
        <h2><span class="label label-primary">{{ consos.coutTotal }} €</span></h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row placeholders">
  <div ng-if="ready" class="col-md-8">
     <chart info="day1" click="plotclick"></chart>
  </div>
  <div class="col-md-4">
     <span>{{debugcache}}</span>
  </div>
</div>
